@model List<EventoModel>
<nav>
        <form class="linha">
            <div class="filtro-evento-div">
                <label class="filtro-evento-label">Data (A partir de)</label>
                <input class="filtro-evento-input" type="date" name="DataEvento"/>
            </div>
            <div class="filtro-evento-div">
                <label class="filtro-evento-label">Data (Até)</label>
                <input class="filtro-evento-input" type="date" name="DataTermino"/>
            </div>
            <div class="filtro-evento-div">
                <label class="filtro-evento-label">Estado</label>
                <select class="filtro-evento-input" name="Estado">
                    <option value="">Selecione...</option>
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RN">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                    <option value="DF">Distrito Federal</option>
                </select>
            </div>
            <div class="filtro-evento-div">
                <label class="filtro-evento-label">Evento</label>
                <input class="filtro-evento-input" type="search" placeholder="Digite o nome do evento..." aria-label="Search" name="Nome">
            </div>
            <div class="filtro-evento-div">
                <button class="filtro-evento-input filtro-evento-pesquisar" type="submit">Pesquisar</button>
            </div>
        </form>
</nav>

@foreach (var evento in Model)
{
    <div class="card" style="width: 18rem;">
        <a asp-controller="Evento" asp-action="Detalhes" asp-route-idEvento="@evento.Id">
            <img class="card-img-top" src="data:image/png;base64, @evento.EventoImagem.Imagem" alt="Imagem do evento @evento.Nome">
        </a>
        <div class="card-body">
            <h5 class="card-title">@evento.Nome</h5>
            <p class="card-text">
                <img class="icone" src="~/lib/data.png" />  @evento.DataEvento.ToString("dd-MM-yyyy")<br />
                <img class="icone" src="~/lib/local.png" />  @evento.Cidade - @evento.Estado
            </p>
            <a class="btn btn-primary" asp-controller="Evento" asp-action="Detalhes" asp-route-idEvento="@evento.Id">Detalhes</a>
        </div>
    </div>
}